<head>
    <style>
        :root {
            --primary: #6b46c1;
            --primary-dark: #553c9a;
            --secondary: #38b2ac;
            --dark: #1a202c;
            --gray: #4a5568;
            --light-gray: #e2e8f0;
            --white: #ffffff;
            --light-blue: #89cff0;
            --cyan: #00ffff;
            --W: #f7fafc
        }

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        
        body {
            background-color: #f7fafc;
            color: var(--dark);
        }
        
        header {
            background-color: var(--light-blue);
            color: white;
            padding: 1rem;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: 0 2px 4px rgba(0,0,0,0.1);
        }

        .logo {
            font-size: 3rem;
            font-weight: bold;
            display: flex;
            align-items: center;
            
        }

        .logo span {
          color: var(--cyan);
      }


      login{

        color: var(--dark);
        padding: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
       
    
      }
    </style>
</head>


<body>
    <header>
        <div class="logo">Game<span>Hub</span></div>
    </header>
</body>

<!-- Page Content -->


<login>
        <h1> Log in Page </h1>
       
</login>

<login>
        <h3> Welcome to GameHub! </h3>
       
</login>

<login>
       <%= button_to "Login", new_session_path, method: :get, class: "btn btn-primary" %>       
</login>




</div>
